body {
    background-color: #c4cccc;
}

.flex-container {
    display: flex;
  }

.largeimg {
    max-width: 60%;
}
  
.menuimgs {
    flex-direction: column;
    max-width: 40%;
}

.menuimgs a {
    class="ripple"
}

