body {
    background-color: #c4cccc;
    font-family: Verdana, sans-serif;
}

.flex-container {
    display: flex;
  }

.largeimg {
    max-width: 60%;
}
  
.menuimgs {
    flex-direction: column;
    max-width: 40%;
}

.shadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,   0.19);
}

